h1 {
    text-align: center;
    padding: 2%;
    background:url("../Images/evolution.png");
    background-repeat: repeat;
    background-repeat: round;
    font-size: 500%;
    color: #707070;
}
p {
    color: #707070;
    padding: 10 px;
}
button {
    background-color: darkorange;
    border-radius: 10px;
    color: black;
    padding: 10px;
    width: 100px;
}
button:hover {
    background-color: #ffa12d;
}
.floatLeft {width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
/* .container { overflow: hidden; } */
html {
    background-color: darkkhaki;
}
footer {
    background: rgb(122, 119, 70);
    position:absolute;
    bottom: 0;
    width:99%;
    height:35px;   /* Height of the footer */
}
footer p{
    color: gainsboro;
    font-size: 12px;
}
canvas {
    border: 1px solid;
    border-color: black;
    /* width: 1000px;
    height: 600px; */
}